go 1.24.0

use (
	be-banner
	be-calendar
	be-ccnu
	be-class
	be-classlist
	be-counter
	be-department
	be-elecprice
	be-feed
	be-grade
	be-infosum
	be-library
	be-proxy
	be-user
	be-website
	bff
	common/be-api
	common/pkg
)
